<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> Perfil de usuario</h1>

<div>
    Cliente name: <span th:text="${clienteName}"></span>
</div>


<div>
    User name: <span th:text="${UserName}"></span>
</div>


<div>
    User data: <span th:text="${UserAtributes}"></span>
</div>

</body>
</html>